<ul>
    <li><%= @user.username %></li>
    <li><a href="<%=new_sub_url%>">Create a sub!</a></li>
    
    
    </form>

    <li><a href="<%=subs_url%>">All Subs</a></li>

    <li><form action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
    </form></li>
</ul>

<h1>All the Subs!</h1>
<ul>
  <li><a href="#">    
    <% @subs.each do |sub| %>
    <%= sub.title %>
    <% end %></a>
  </li>
</ul>






